
@media only screen and (min-width: 768px) {
    .calendar-component td {
        border-color: #FFFFFF50 !important;
    }
}

.calendar-component td:first-of-type {
    border-color: transparent !important;
}

.calendar-component table, th {
    border-style: none !important;
    border: none !important;
}

.calendar-component .fc-scrollgrid td:last-of-type {
    border-right: none !important;
}

.calendar-component .fc-scrollgrid td:first-child {
    border-top: none !important;
}

@media only screen and (min-width: 768px) {
    .calendar-component .fc-scrollgrid td {
        border-left: none !important;
    }
}

.calendar-component .fc-scrollgrid td:last-of-type {
    border-bottom: none !important;
}

.calendar-component .fc-timegrid-slot:last-of-type {
    border-bottom: none !important;
}

.calendar-component .fc-scrollgrid {
    border-color: transparent !important;
}

.calendar-component .fc-scrollgrid td:last-of-type {
    border-right-color: transparent !important;
}

.calendar-component .fc-scrollgrid-section.fc-scrollgrid-section-body td[role='presentation'] {
    border-bottom-color: transparent !important;
}

.calendar-component [role='row']:last-of-type td {
    border-bottom-color: transparent !important;
}

.calendar-component .fc-timegrid-body table tbody tr:first-of-type td {
    border-top: none !important;
}

.calendar-component th[role='presentation'] {
    border-right-color: transparent !important;
}

.calendar-component .fc-col-header-cell-cushion {
    width: 100%;
    padding: 0px !important;
}

.calendar-component .fc-day-sun td {
    border-left: 0px !important;
}

.calendar-component .fc-scrollgrid-sync-inner {
    padding: 0px !important;
}

.calendar-component .fc-event-main {
    padding: 0px !important;
}

.calendar-component .fc-timegrid-slot-label {
    border: none !important;
}

.calendar-component .fc-timegrid-axis {
    border: none !important;
}

.calendar-component .fc-highlight {
    background-color: #00C914 !important;
}

.calendar-component .fc-timegrid-col-events {
    margin: 0px !important;
}

.calendar-component .fc-day-today {
  background-color:inherit !important;
}

.calendar-component .fc-timegrid-slot-label-frame {
    text-align: left;
}

@media only screen and (max-width: 768px) {
    .fc-timegrid-event {
        padding: 0px !important;
        margin: 0px !important;
        background: transparent !important;
        border: none !important;
        box-shadow: none !important;
        padding: 3px 0px !important;
        padding-left: 3px !important;
    }

    .fc-event-main {
        border: none !important;
    }

    td {
        border: 0.5px solid #FFFFFF70 !important;
        border-image: linear-gradient(to right, white, transparent) 100% 0% !important;
    }

    .fc-timegrid-axis {
        border: 0.5px solid !important;
    }

    .fc-timegrid-slot-label-frame {
        border-bottom: 0.5px solid #FFFFFF70 !important;
        margin-bottom: -0.5px;
    }

    .fc-timegrid-slot-label-cushion {
        color: #FFFFFF80 !important;
        font-weight: 600 !important;
        font-size: 14px !important;
        line-height: 22px !important;
    }

    .MuiPickersSlideTransition-root {
        min-height: 200px !important;
    }

    .MuiDayCalendar-weekContainer {
        text-align: center !important;
    }

    .MuiDayCalendar-header {
        display: flex;
        flex-direction: row;
        margin-top: 10px !important;
    }

    .MuiDayCalendar-weekDayLabel {
        width: 100% !important;
        font-weight: 400 !important;
        font-size: 14px !important;
        color: white !important;
    } 
}