@tailwind base;
@tailwind components;
@tailwind utilities;

table, th {
    border-style: none !important;
}

td {
    border-color: #FFFFFF !important;
}

.fc-col-header-cell-cushion {
    width: 100%;
    padding: 0px !important;
}

.fc-scrollgrid-sync-inner {
    padding: 0px !important;
}

.fc-event-main {
    padding: 0px !important;
}

.fc-timegrid-slot-label {
    border: none !important;
}

.fc-timegrid-axis {
    border: none !important;
}

.fc-highlight {
    background-color: #00C914 !important;
}