@tailwind base;
@tailwind components;
@tailwind utilities;

td {
    border-width: 0.7px !important;
}

td:first-of-type {
    border-color: transparent !important;
}

table, th {
    border-style: none !important;
    border: none !important;
}

.fc-scrollgrid td:last-of-type {
    border-right: none !important;
}

.fc-scrollgrid td {
    border-left: none !important;
}

.fc-scrollgrid td:last-of-type {
    border-bottom: none !important;
}

.fc-timegrid-slot:last-of-type {
    border-bottom: none !important;
}

.fc-scrollgrid {
    border-color: transparent !important;
}

.fc-scrollgrid td:last-of-type {
    border-right-color: transparent !important;
}

.fc-scrollgrid-section.fc-scrollgrid-section-body td[role='presentation'] {
    border-bottom-color: transparent !important;
}

[role='row']:last-of-type td {
    border-bottom-color: transparent !important;
}

.fc-timegrid-body table tbody tr:first-of-type td {
    border-top: none !important;
}

th[role='presentation'] {
    border-right-color: transparent !important;
}

.fc-col-header-cell-cushion {
    width: 100%;
    padding: 0px !important;
}

.fc-day-sun td {
    border-left: 0px !important;
}

.fc-scrollgrid-sync-inner {
    padding: 0px !important;
}

.fc-event-main {
    padding: 0px !important;
}

.fc-timegrid-slot-label {
    border: none !important;
}

.fc-timegrid-axis {
    border: none !important;
}

.fc-highlight {
    background-color: #00C914 !important;
}

.fc-timegrid-col-events {
    margin: 0px !important;
}